[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
python-dotenv = "*"
pipe = "*"
gunicorn = "*"
html2text = "*"
imapclient = "*"
cryptography = "*"

[dev-packages]
mock = "*"
pycodestyle = "*"
pyflakes = "*"
mccabe = "*"
pylint = "*"
configparser = "*"
pytest-mock = "*"
rope = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.9"
